<%
	// Refresh mechanism
%>

<form class="form-horizontal" role="form" action="/post" method="post">
	<fieldset>

		<!-- Form info -->
		<div class="form-group">
			<label class="control-label col-sm-2" for="provider">Provider:</label>
			<div class="col-sm-5">
	        	<h5 id="provider"><%= link_to(providerId, providerLink) %></h5>
	      	</div>
      	</div>

      	<div class="form-group">
			<label class="control-label col-sm-2" for="consumer">Consumer:</label>
			<div class="col-sm-5">
	        	<h5 id="consumer"><%= link_to(consumerId, consumerLink) %></h5>
	      	</div>
      	</div>

      	<div class="form-group">
			<label class="control-label col-sm-2" for="postLink">Post:</label>
			<div class="col-sm-5">
	        	<h5 id="postLink"><%= link_to(postTitle, postLink) %></h5>
	      	</div>
      	</div>

      	<div class="form-group">
			<label class="control-label col-sm-2" for="finishDate">Service Finish Date:</label>
			<div class="col-sm-5">
	        	<h5 id="finishDate"><%= finishDate %></h5>
	      	</div>
      	</div>

      	<div class="form-group">
			<label class="control-label col-sm-2" for="description">Service Description:</label>
			<div class="col-sm-5">
	        	<h5 id="description"><%= description %></h5>
	      	</div>
      	</div>

		<!-- Form actions -->
		<div class="form-group">
			<label class="checkbox-inline">
				Consumer:<input id="consumerConsent" name="agreementButton" value="consumerConsent" type="checkbox" data-toggle="toggle" data-on="Agree" data-off="Disagree" data-onstyle="success" data-offstyle="danger" disabled>
			</label>
			<label class="checkbox-inline">
				Provider:<input id="providerConsent" name="agreementButton" value="providerConsent" type="checkbox" data-toggle="toggle" data-on="Agree" data-off="Disagree" data-onstyle="success" data-offstyle="danger" disabled>
			</label>
		</div>

		<div class="form-group">
			<div class="col-xs-12 text-center">
				<button id="editButton" name="agreementButton" href=<%= URL + "/edit" %> type="button" class="btn btn-primary btn-lg" value="editRequest" disabled>Edit</button>
			</div>

			<div class="col-xs-12 text-center">
				<button id="finalizeButton" name="agreementButton" type="button" class="btn btn-primary btn-lg" value="finalizeRequest" disabled>Finalize</button>
			</div>
		</div>

	</fieldset>
</form>