<div class="row-fluid col-md-9 well">
	<h2>
		Title: <%= postBO.getTitle(); %>
	</h2>
	<p>
		PostId: <%= postBO.getPostId(); %>
	</p>
	<p>
		Keywords: <%= postBO.getKeywordsArray();%>
	</p>
	<p>
		Description: <%= postBO.getDescription();%>
	</p>
	<p>
		AuthorId: <%= postBO.getAuthorId();%>
	</p>
	<p>
		ByWho: <%= postBO.getByWho();%>
	</p>
	<p>
		IsPurchased: <%= postBO.getIsPurchased();%>
	</p>
	<p>
		IsExpired: <%= postBO.getIsExpired();%>
	</p>
	<p>
		CreatedAt: <%= postBO.getCreatedAt();%>
	</p>
</div>