<div class="">
	<div class="post">
		<h2 class="post-title">
			<%= postBO.getTitle();%>
		</h2>
		<div class="keyValuePair">
			<div class="post-label">
				<p>Keywords: </p>
			</div>
			<div class="post-field">
				<p>
					<%= postBO.getKeywordsArray();%>
				</p>
			</div>
		</div>

		<div class="keyValuePair">
			<div class="post-label">
				<p>Description: </p>
			</div>
			<div class="post-field">
				<p>
					<%= postBO.getDescription();%>
				</p>
			</div>
		</div>

		<div class="post-metaData">
		<p>
			<%if (postBO.getByWho() == PostEnum.byConsumer){%>
				<p>
					<%= postBO.getAuthorId();%>	is looking for this service!
				</p> 
			<%} else if (postBO.getByWho() == PostEnum.byProvider){%>
				<p>
					<%= postBO.getAuthorId();%> is providing this service!
				</p>
			<%}%>
		</p>
		
		<p>
			<%if (postBO.getIsPurchased() == PostEnum.isPurchased){%>
				<p>
					Some one has purchased this service!
				</p> 
			<%} else if (postBO.getIsPurchased() == PostEnum.isNotPurchased){%>
				<p>
					No one has purchased this service!
				</p>
			<%}%>
		</p>
		
		<p>Posted On: <%= postBO.getCreatedAt();%></p>
		<p>
			<%if (postBO.getIsExpired() == PostEnum.isExpired){%>
				<p>
					Is Expired:	Yes
				</p> 
			<%} else if (postBO.getIsExpired() == PostEnum.isNotExpired){%>
				<p>
					Is Expired: No
				</p>
			<%}%>
		</div>
	</div>
</div>