<div class="row col-xs-10 well">
	<h1>
		Title: <%= postBO.getTitle(); %>
	</h1>
	<p>
		Keywords: <%= postBO.getKeywordsArray();%>
	<p>
	<p>
		Description: <%= postBO.getDescription();%>
	</p>
	<p>
		AuthorId: <%= postBO.getAuthorId();%>
	</p>
	<p>
		ByWho: <%= postBO.getByWho();%>
	</p>
	<p>
		IsPurchased: <%= postBO.getIsPurchased();%>
	</p>
	<p>
		IsExpired: <%= postBO.getIsExpired();%>
	</p>
	<p>
		CreatedAt: <%= postBO.getCreatedAt();%>
	</p>

	<%if (postBO.getAuthorId() !== userBO._userId) { %>
		<form action="/interested" method="post">
			<!-- Here we really want to have hidden input about this postBO object in a secured way, Im just hard coding it for now-->
			<input type="hidden" name="post[postBOId]" value=<%= postBO.name ? user.name : '' %>>
			<button type="submit" class="btn btn-default">
				Interested
			</button>
		</form>
	<% } %>
</div>