<div class="">
	<div class="post">
		<h2 class="post-title">
			<%= postBO.getTitle();%>
		</h2>
		<br>
		<div class="keyValuePair">
			<div class="post-label">
				<p>Keywords: </p>
			</div>
			<div class="post-field">
				<p>
					<%= postBO.getKeywordsArray();%>
				</p>
			</div>
		</div>

		<div class="keyValuePair">
			<div class="post-label">
				<p>Description: </p>
			</div>
			<div class="post-field">
				<p>
					<%= postBO.getDescription();%>
				</p>
			</div>
		</div>

		<div class="post-metaData">
		<p>
			<%if (postBO.getByWho() == PostEnum.byConsumer){%>
				<p>
					<%= postBO.getAuthorId();%>	is looking for this service!
				</p> 
			<%} else if (postBO.getByWho() == PostEnum.byProvider){%>
				<p>
					<%= postBO.getAuthorId();%> is providing this service!
				</p>
			<%}%>
		</p>
		
		<p>
			<%if (postBO.getIsPurchased() == PostEnum.isPurchased){%>
				<p>
					Some one has purchased this service!
				</p> 
			<%} else if (postBO.getIsPurchased() == PostEnum.isNotPurchased){%>
				<p>
					No one has purchased this service!
				</p>
			<%}%>
		</p>
		
		<p>Posted On: <%= postBO.getCreatedAt();%></p>
		<p>
			<%if (postBO.getIsExpired() == PostEnum.isExpired){%>
				<p>
					Is Expired:	Yes
				</p> 
			<%} else if (postBO.getIsExpired() == PostEnum.isNotExpired){%>
				<p>
					Is Expired: No
				</p>
			<%}%>
		</div>
		<form>
			<fieldset>
				<!-- Comment Form--> 
				<br>
				<br>
				<label class="col-xs-2 control-label" for="userId">Comments</label>
				<br>
				<div class="form-group">
					<div class="col-xs-12">
						<input id="userId" name="post[userId]" type="text" placeholder="Be nice..." class="form-control">
					</div>
				</div>
				<div class="col-xs-12 text-right">
					<br>
						<button type="submit" class="btn btn-primary btn-lg">Submit</button>
				</div>
			</fieldset>
		</form>
		<div>
			<p class="comment"> This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. 
				<p class="comment-author"> 
					Author: Anonymous
				</p>
				<p class="comment-date"> 
					Written on: 00/00/0000
				</p>
			</p>
			<p class="comment"> This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. 
				<p class="comment-author"> 
					Author: Anonymous
				</p>
				<p class="comment-date"> 
					Written on: 00/00/0000
				</p>
			</p>
			<p class="comment"> This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. 
				<p class="comment-author"> 
					Author: Anonymous
				</p>
				<p class="comment-date"> 
					Written on: 00/00/0000
				</p>
			</p>
			<p class="comment"> This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. 
				<p class="comment-author"> 
					Author: Anonymous
				</p>
				<p class="comment-date"> 
					Written on: 00/00/0000
				</p>
			</p>
		</div>
	</div>
</div>