<div class="">
	<div class="post">
		<h2 class="post-title">
			<%= postBO.getTitle();%>
		</h2>
		<br>
		<div class="keyValuePair">
			<div class="post-label">
				<p>Keywords: </p>
			</div>
			<div class="post-field">
				<p>
					<%= postBO.getKeywordsArray();%>
				</p>
			</div>
		</div>

		<div class="keyValuePair">
			<div class="post-label">
				<p>Description: </p>
			</div>
			<div class="post-field">
				<p>
					<%= postBO.getDescription();%>
				</p>
			</div>
		</div>

		<div class="post-metaData">
			<p>
				<%if (postBO.getByWho() == PostEnum.byConsumer){%>
				<p>
					<%= postBO.getAuthorId();%>	is looking for this service!
				</p> 
				<%} else if (postBO.getByWho() == PostEnum.byProvider){%>
				<p>
					<%= postBO.getAuthorId();%> is providing this service!
				</p>
				<%}%>
			</p>

			<p>
				<%if (postBO.getIsPurchased() == PostEnum.isPurchased){%>
				<p>
					Some one has purchased this service!
				</p> 
				<%} else if (postBO.getIsPurchased() == PostEnum.isNotPurchased){%>
				<p>
					No one has purchased this service!
				</p>
				<%}%>
			</p>

			<p>Posted On: <%= postBO.getCreatedAt();%></p>
			<p>
				<%if (postBO.getIsExpired() == PostEnum.isExpired){%>
				<p>
					Is Expired:	Yes
				</p> 
				<%} else if (postBO.getIsExpired() == PostEnum.isNotExpired){%>
				<p>
					Is Expired: No
				</p>
				<%}%>
			</p>
		</div>
		<form class="commentForm" action="/postComment" method="post">
			<fieldset>
				<br>
				<br>
				<label class="col-xs-2 control-label" for="comment">Comments</label>
				<br>
				<div class="form-group">
					<div class="col-xs-12">
						<input id="commentDescription" name="commentDescription" type="text" placeholder="Be nice..." class="form-control">
						<input id="commentAuthorId" name="commentAuthorId" type="hidden" class="form-control" value="<%= user._userId%>" >
						<input id="commentPostId" name="commentPostId" type="hidden" class="form-control" value="<%= postBO.getPostId()%>" >
					</div>
				</div>
				<div class="col-xs-12 text-right">
					<br>
					<button id="commentSubmitButton" type="submit" class="btn btn-primary btn-lg">Submit</button>
				</div>
			</fieldset>
		</form>
		<div id="<%= postBO.getPostId() + "commentSection" %>">
		
			<%if (postBO.getCommentIdArray()){%>
				<% postBO.getCommentIdArray().forEach(function(commentBO) { %>
					<% include ../pages/commentRender.ejs %>
				<% }); %>
			<%}%>

		</div>
	</div>
</div>